<div class="container">
  <br>
<div class="col-md-4">
    <div class="card" id="product_card">
      <h3 class="card-title"><%= @product.name %></h3>
      <div class="card-body">

<h4>Price: <%= @product.cost %></h4>
<h4>Origin: <%= @product.country_of_origin %></h4>
</div>

<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
  :data =>{:confirm => "You sure?",
  :method => "delete"} %></p>

</div>


<%if @product.reviews.any?%>

<h3>Reviews for <%= @product.name %></h3>

<% @product.reviews.each do |review| %>
  <ul>
    <li>
      <%= link_to review.name, product_review_path(@product, review) %>
    </li>
  </ul>
  <% end %>
  <% else %>
    <p>No current reviews. Be the first and leave a review!</p>
  <% end %>

  <p><strong><%= link_to "Add a review", new_product_review_path(@product) %></strong></p>

<p><%= link_to "Return to products", products_path %></p>

</div>
