<h2><%= @product.name %></h2>
<h3><%= @product.cost %></h3>
<h3><%= @product.country_of_origin %></h3>

<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
  :data =>{:confirm => "You sure?",
  :method => "delete"} %></p>

<p><% link_to "Return to products", products_path %></p>



<%if @product.reviews.any?%>
<h3>Reviews for <%= @product.name %></h3>
<% @products.reviews.each do |review| %>
  <ul>
    <li><% link_to review.name, product_review_path(@product, review) %></li>
  </ul>
  <% end %>
  <% else %>
    <p>No current reviews. Be the first and leave a review!</p>
  <% end %>

  <p><%= link_to "Add a review", new_product_review_path(@product) %></p>
