<!DOCTYPE html>
<html>
<head>
  <title>SpecialtyFoodProducts</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= flash[:alert] %>
  <%= flash[:notice] %>
  <ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
  <div class="jumbotron" float='center'>
    <h1>Mario's Specialty Food Products</h1>
  </div>
  <%= yield %>
</body>
</html>
